.summon-iframe {
    margin: 0;
    padding: 0;
    border-style: none;
    width: 100%;
    height: 100%;
}

.summon-iframe-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: -999 !important;
}

.summon-iframe-contrainer {
    postion: absolute;
    width: 376px;
    height: 704px;
    border-style: none;
    background: transparent;
    border-radius: 16px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.04);
    z-index: 999;
}

.summon-iframe-contrainer [data-popper-arrow] {
    display: block;
    width: 10px;
    height: 10px;
    z-index: -1;
}

.summon-iframe-contrainer [data-popper-arrow]::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: -1;
    transform: rotate(45deg);
    background: #f9f9f9;
    top: 0;
    left: 0;
    ox-shadow: 0px 0px 10px #d4d2d2;
    -webkit-box-shadow: #d4d2d2 0px 0px 10px;
    -moz-box-shadow: #d4d2d2 0px 0px 10px;
}

.summon-iframe-contrainer[data-popper-placement^="bottom"] [data-popper-arrow] {
    top: -5px;
}

.summon-iframe-contrainer[data-popper-placement^="top"] [data-popper-arrow] {
    bottom: -5px;
}

.summon-iframe-contrainer[data-popper-placement^="left"] [data-popper-arrow] {
    right: -5px;
}

.summon-iframe-contrainer[data-popper-placement^="right"] [data-popper-arrow] {
    left: -5px;
}

.summon-iframe {
    margin: 0;
    padding: 0;
    border-style: none;
    width: 100%;
    height: 100%;
}

.summon-iframe-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: -999 !important;
}

.summon-iframe-contrainer {
    postion: absolute;
    width: 376px;
    height: 704px;
    border-style: none;
    background: transparent;
    border-radius: 16px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.04);
    z-index: 999;
}

.summon-iframe-contrainer [data-popper-arrow] {
    display: block;
    width: 10px;
    height: 10px;
    z-index: -1;
}

.summon-iframe-contrainer [data-popper-arrow]::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: -1;
    transform: rotate(45deg);
    background: #f9f9f9;
    top: 0;
    left: 0;
    ox-shadow: 0px 0px 10px #d4d2d2;
    -webkit-box-shadow: #d4d2d2 0px 0px 10px;
    -moz-box-shadow: #d4d2d2 0px 0px 10px;
}

.summon-iframe-contrainer[data-popper-placement^="bottom"] [data-popper-arrow] {
    top: -5px;
}

.summon-iframe-contrainer[data-popper-placement^="top"] [data-popper-arrow] {
    bottom: -5px;
}

.summon-iframe-contrainer[data-popper-placement^="left"] [data-popper-arrow] {
    right: -5px;
}

.summon-iframe-contrainer[data-popper-placement^="right"] [data-popper-arrow] {
    left: -5px;
}

.summon-iframe {
    margin: 0;
    padding: 0;
    border-style: none;
    width: 100%;
    height: 100%;
}

.summon-iframe-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: -999 !important;
}

.summon-iframe-contrainer {
    postion: absolute;
    width: 376px;
    height: 704px;
    border-style: none;
    background: transparent;
    border-radius: 16px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.04);
    z-index: 999;
}

.summon-iframe-contrainer [data-popper-arrow] {
    display: block;
    width: 10px;
    height: 10px;
    z-index: -1;
}

.summon-iframe-contrainer [data-popper-arrow]::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: -1;
    transform: rotate(45deg);
    background: #f9f9f9;
    top: 0;
    left: 0;
    ox-shadow: 0px 0px 10px #d4d2d2;
    -webkit-box-shadow: #d4d2d2 0px 0px 10px;
    -moz-box-shadow: #d4d2d2 0px 0px 10px;
}

.summon-iframe-contrainer[data-popper-placement^="bottom"] [data-popper-arrow] {
    top: -5px;
}

.summon-iframe-contrainer[data-popper-placement^="top"] [data-popper-arrow] {
    bottom: -5px;
}

.summon-iframe-contrainer[data-popper-placement^="left"] [data-popper-arrow] {
    right: -5px;
}

.summon-iframe-contrainer[data-popper-placement^="right"] [data-popper-arrow] {
    left: -5px;
}

.summon-iframe {
    margin: 0;
    padding: 0;
    border-style: none;
    width: 100%;
    height: 100%;
}

.summon-iframe-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: -999 !important;
}

.summon-iframe-contrainer {
    postion: absolute;
    width: 376px;
    height: 704px;
    border-style: none;
    background: transparent;
    border-radius: 16px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.04);
    z-index: 999;
}

.summon-iframe-contrainer [data-popper-arrow] {
    display: block;
    width: 10px;
    height: 10px;
    z-index: -1;
}

.summon-iframe-contrainer [data-popper-arrow]::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: -1;
    transform: rotate(45deg);
    background: #f9f9f9;
    top: 0;
    left: 0;
    ox-shadow: 0px 0px 10px #d4d2d2;
    -webkit-box-shadow: #d4d2d2 0px 0px 10px;
    -moz-box-shadow: #d4d2d2 0px 0px 10px;
}

.summon-iframe-contrainer[data-popper-placement^="bottom"] [data-popper-arrow] {
    top: -5px;
}

.summon-iframe-contrainer[data-popper-placement^="top"] [data-popper-arrow] {
    bottom: -5px;
}

.summon-iframe-contrainer[data-popper-placement^="left"] [data-popper-arrow] {
    right: -5px;
}

.summon-iframe-contrainer[data-popper-placement^="right"] [data-popper-arrow] {
    left: -5px;
}